.hero {
    position: relative;

    height: calc(30vh + 30vw);
    width: 100vw;

    overflow-x: hidden;

    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(51, 147, 99, 1) 33%, rgba(2, 25, 29, 1) 100%);

    .hero-info {
        position: absolute;
        top: 80%;
        left: 50%;
        width: 75%;

        transform: translateX(-50%) translateY(-50%);

        z-index: 6;

        h1 {
            text-align: center;
            color: white;
            font-size: calc(2.5vh + 2.5vw);
        }
        p {
            text-align: center;
            color: white;
            margin: calc(1vh + 1vw) 0;
        }
        .hero-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
     
        }
    }

    .heroImg {
        position: absolute;
        left: 50%;
        bottom: 0;

        height: calc(25vh + 25vw);
    }

    .heroImg1 {
        transform: translateX(50%);
        z-index: 1;
    }

    .heroImg2 {
        transform: translateX(0%);
        z-index: 2;
    }

    .heroImg3 {
        transform: translateX(-50%);
        z-index: 3;
    }

    .heroImg4 {
        transform: translateX(-100%);
        z-index: 2;
    }

    .heroImg5 {
        transform: translateX(-150%);
        z-index: 1;
    }
}
