.abstract{
    position: absolute;
    height: calc(5vh + 5vw);
    opacity: .1;
    pointer-events: none;
}

.abstract1{
    top: 150%;
    left: 10%
}
.abstract2{
    top: 250%;
    left: 90%
}
.abstract3{
    top: 400%;
    left: 90%
}
.abstract4{
    top: 600%;
    left: 10%
}
.abstract5{
    top: 700%;
    left: 90%
}
.abstract6{
    top: 900%;
    left: 10%
}